.noteList input {
    padding: 5px;
    border: 1px solid #bbb;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.noteList ul {
    border: 1px solid #bbb;
    border-radius: 4px;
    height: 50px;
    width: auto;
    list-style: none;
    overflow-y: scroll;
}

li.noteListItem {

}

li.noteListItem.selected {
    background-color: rgba(3, 114, 255, 1);
}