/*********** Note List *******/
.noteList input {
    padding: 5px 15px 5px 15px;
    border: 1px solid #bbb;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.noteList ul {
    padding: 0;
    border: 1px solid #bbb;
    border-radius: 4px;
    height: 100px;
    width: auto;
    list-style: none;
    overflow-y: scroll;
    background-color: white;
}

li.noteListItem:first-of-type {
    margin-top: 5px;
}
li.noteListItem:last-of-type {
    margin-bottom: 5px;
}

li.noteListItem {
    padding-left: 15px;
    padding-right: 15px;
}

li.noteListItem.selected {
    color: white;
    background-color: rgba(3, 114, 255, 1);
}

.grey-bg {
    /*background-color: #cccccc;*/
}

/****** FIX STYLES *********/
.CodeMirror {
    height: 600px !important;
}
.react-tagsinput-tag a::before {
    content: " x";
}
/**************************/

.react-tagsinput {
    border-radius: 4px;
}


.editor-toolbar {
    margin-top: 5px;
    background-color: white;
}

.editor-preview {
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.private {
    background: grey;
}

.fa {
    font-size: 19px;
}
